    GLOBAL_SETTINGS
    GRADE_CONTAINER attacker
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED attacker_mike_master_seed
    REGISTRY thanh177
NETWORK L
     MASK 12.10.0.0/24
     GATEWAY 12.10.0.1
CONTAINER attacker
     USER ubuntu
     X11 YES
     L 12.10.0.20
     NO_GW YES
     NO_PRIVILEGE YES
CONTAINER client
     USER ubuntu
     X11 YES
     L 12.10.0.30
