    GLOBAL_SETTINGS
    GRADE_CONTAINER attacker
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED attacker_mike_master_seed
    REGISTRY thanh177
NETWORK W
     MASK 12.10.1.0/24
     GATEWAY 12.10.1.1
CONTAINER attacker
     USER ubuntu
     X11 YES
     W 12.10.1.20
     NO_GW YES
     NO_PRIVILEGE YES
CONTAINER client
     USER ubuntu
     X11 YES
     W 12.10.1.30
