    GLOBAL_SETTINGS
    GRADE_CONTAINER attacker
    HOST_HOME_XFER seed_dir/
    LAB_MASTER_SEED attacker_mike_master_seed
NETWORK LAN
     MASK 10.10.0.0/24
     GATEWAY 10.10.0.1
CONTAINER attacker
     USER ubuntu
     X11 NO
     NO_GW YES
     NO_PRIVILEGE YES
CONTAINER client
     USER ubuntu
     X11 YES
